header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    user-select: none;
}

header h3 {
    margin: 0;
}

header button {
    font-weight: 600;
    color: var(--white);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    border: var(--default-border);
    transition: all 0.5s;
}

header button:hover {
    color: var(--button-color);
}