header {
    display: flex;
    flex-direction: row;
    padding: 1em 2em 1em 2em;
    border-bottom: 2px solid gainsboro;
    background-color: white;
    height: 2em;
}

.header-title {
    flex: 1;
    font-size: 1.2em;
    font-weight: 600;
}

.add-note-btn {
    font-size: 1.2em;
    width: 2em;
    background-color: transparent;
    height: 2em;
    vertical-align: middle;
    text-align: center;
}
